/* Visitor registration variables */
/* HeaderContainer variables */
/* ContentContainer variables */
/* FooterContainer variables */
.HeaderTopImage {
  width: 100%;
  height: 320px;
  background: url('../images/homepage/top-back.jpg') top left repeat-x;
}

.HeaderMainWrapper {
  background: #00a3f5;
  width: 100%;
  height: 80px;
}

.HeaderContainer {
  margin: 0 auto;
  width: 1170px;
}
.HeaderContainer .toggle-menu {
  display: none !important;
}
.HeaderContainer .LogoContainer {
  padding: 14px 12px 0 0;
  float: left;
}
.HeaderContainer .HeaderMenuContainer {
  float: left;
  padding-top: 25px;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu li {
  position: relative;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu li .drop-down-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu li .drop-down-items li {
  float: left;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu li .drop-down-items li a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: bold;
  text-decoration: none;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu li .drop-down-items li a:hover {
  background: #1a598f;
}
.HeaderContainer .HeaderMenuContainer .drop-down-menu li.drop-down-text {
  display: none;
}
.HeaderContainer .HeaderSearchContainer {
  padding: 24px 0 0 12px;
  float: left;
}
.HeaderContainer .HeaderSearchContainer input {
  background: white url('../images/search-icon.jpg') top left no-repeat;
  border: 1px solid black;
  height: 26px;
  padding: 2px 5px 2px 29px;
  margin: 0;
  width: 145px;
}
.HeaderContainer .RightHeaderContainer {
  float: right;
}
.HeaderContainer .RightHeaderContainer .HeaderUserContainer {
  width: 220px;
  height: 40px;
  background: #282828;
}
.HeaderContainer .RightHeaderContainer .HeaderUserContainer img {
  float: left;
}
.HeaderContainer .RightHeaderContainer .HeaderUserContainer span {
  float: left;
  font-size: 17px;
  color: white;
  margin-left: 26px;
  line-height: 40px;
}
.HeaderContainer .RightHeaderContainer .HeaderCartContainer {
  background: #1a598f;
  width: 220px;
  height: 40px;
}
.HeaderContainer .RightHeaderContainer .HeaderCartContainer img {
  float: left;
}
.HeaderContainer .RightHeaderContainer .HeaderCartContainer span {
  float: left;
  font-size: 17px;
  color: white;
  margin-left: 12px;
  line-height: 40px;
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  .HeaderTopImage {
    display: none;
  }

  .HeaderMainWrapper {
    height: 48px;
  }
  .HeaderMainWrapper .LogoContainer {
    padding: 0 10px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }

  .HeaderContainer {
    width: 100%;
  }
  .HeaderContainer .HeaderMenuContainer {
    padding-top: 9px;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu {
    width: 170px;
    padding: 5px;
    background: #95d2ff;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu a {
    width: 100%;
    display: block;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px 6px;
    position: relative;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu a .arrow {
    position: absolute;
    right: 9px;
    top: 6px;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu a .arrow:after {
    position: absolute;
    border: solid transparent;
    content: " ";
    top: auto;
    left: auto;
    height: 0;
    width: 0;
    margin: 0;
    border-color: transparent;
    border-width: 7px;
    pointer-events: none;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu a .arrow:after {
    top: 100%;
    border-top-color: black;
    margin-left: -7px;
    left: 50%;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu li .drop-down-items {
    display: none;
    background: #95d2ff;
    display: none;
    list-style: none;
    padding: 5px 0px;
    position: absolute;
    left: -5px;
    top: 0px;
    width: auto;
    min-width: 180px;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu li .drop-down-items li {
    float: none;
  }
  .HeaderContainer .HeaderMenuContainer .drop-down-menu li.drop-down-text {
    display: block;
  }
  .HeaderContainer .HeaderSearchContainer {
    padding-top: 7px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 766px) {
  .HeaderTopImage {
    display: none;
  }

  .HeaderContainer {
    width: 100%;
  }
  .HeaderContainer .toggle-menu {
    display: block !important;
  }
  .HeaderContainer .HeaderMenuContainer .toggle-menu {
    display: block;
  }
}
.MainContentWrapper .TopContentBlock {
  width: 1110px;
  margin: 40px auto;
}
.MainContentWrapper .TopContentBlock .TopLeftContentBlock {
  width: 65.76576576576577%;
  margin-right: 2.7027027027027%;
  background: #1a598f;
  height: 410px;
  float: left;
}
.MainContentWrapper .TopContentBlock .TopRightContentBlock {
  float: left;
  width: 31.53153153153153%;
}
.MainContentWrapper .TopContentBlock .TopRightContentBlock .TopRightContentBlockFirst, .MainContentWrapper .TopContentBlock .TopRightContentBlock .TopRightContentBlockSecond {
  width: 100%;
  background: #1a598f;
  height: 196px;
  margin-bottom: 18px;
}
.MainContentWrapper .TopContentBlock .TopRightContentBlock .TopRightContentBlockSecond {
  margin-bottom: 0;
}
.MainContentWrapper .SecondContentBlockWrapper {
  width: 100%;
  background: #00a3f5;
  padding: 40px 0;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock {
  margin: 0 auto;
  width: 1110px;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock .SecondContentBlockProductLeft {
  width: 34.23423423423423%;
  float: left;
  text-align: center;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock .SecondContentBlockProductRight {
  width: 65.76576576576577%;
  float: left;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock .SecondContentBlockProductRight h1 {
  font-size: 72px;
  font-weight: normal;
  color: white;
  line-height: 72px;
  margin: 0;
  padding: 0 0 50px 0;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock .SecondContentBlockProductRight p {
  color: white;
  padding: 0 0 40px 0;
  margin: 0;
  font-size: 30px;
  line-height: 40px;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock .SecondContentBlockProductRight span {
  position: relative;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.MainContentWrapper .SecondContentBlockWrapper .SecondContentBlock .SecondContentBlockProductRight span.up {
  font-size: 40px;
  top: -21px;
}
.MainContentWrapper .ThirdContentBlockWrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 40px;
}
.MainContentWrapper .ThirdContentBlockWrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.MainContentWrapper .ThirdContentBlockWrapper ul li {
  float: left;
  width: 22.97297297297297%;
  margin-left: 2.61261261261261%;
}
.MainContentWrapper .ThirdContentBlockWrapper ul li:first-child {
  margin-left: 0;
}
.MainContentWrapper .ThirdContentBlockWrapper ul li a {
  width: 100%;
  display: block;
  background: #1a598f;
  height: 320px;
}
.MainContentWrapper .ThirdContentBlockWrapper ul li p {
  font-size: 24px;
  color: #1a1a1a;
  padding: 20px 0 10px 0;
  margin: 0;
}
.MainContentWrapper .ThirdContentBlockWrapper ul li span {
  font-size: 20px;
  color: #1a1a1a;
}
.MainContentWrapper .FourthContentBlockWrapper {
  width: 100%;
  padding: 40px 0;
  background: #00a3f5;
}
.MainContentWrapper .FourthContentBlockWrapper .FourthContentBlock {
  width: 1110px;
  margin: 0 auto;
  color: white;
}
.MainContentWrapper .FourthContentBlockWrapper .FourthContentBlock .FourthContentBlockLeft {
  float: left;
  width: 31.53153153153153%;
  margin-right: 2.7027027027027%;
}
.MainContentWrapper .FourthContentBlockWrapper .FourthContentBlock .FourthContentBlockLeft span {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.MainContentWrapper .FourthContentBlockWrapper .FourthContentBlock .FourthContentBlockRight {
  float: left;
  width: 65.76576576576577%;
}
.MainContentWrapper .FourthContentBlockWrapper .FourthContentBlock .FourthContentBlockRight span {
  font-size: 24px;
}
.MainContentWrapper .FifthContentBlock {
  width: 1110px;
  margin: 40px auto;
}
.MainContentWrapper .FifthContentBlock .FifthContentLeft {
  float: left;
  margin-right: 2.7027027027027%;
  width: 65.76576576576577%;
}
.MainContentWrapper .FifthContentBlock .FifthContentLeft span {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}
.MainContentWrapper .FifthContentBlock .FifthContentRight {
  float: left;
  width: 31.53153153153153%;
}
.MainContentWrapper .FifthContentBlock .FifthContentRight span {
  font-size: 24px;
}

.FooterContainerWrapper {
  width: 100%;
  background: #1d1d1d;
  min-height: 120px;
  padding-bottom: 20px;
}
.FooterContainerWrapper .FooterContainer {
  width: 1110px;
  margin: 0 auto;
  padding-top: 26px;
}
.FooterContainerWrapper .FooterContainer .FooterMenuContainer {
  float: left;
}
.FooterContainerWrapper .FooterContainer .FooterMenuContainer .footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.FooterContainerWrapper .FooterContainer .FooterMenuContainer .footer-menu li {
  float: left;
}
.FooterContainerWrapper .FooterContainer .FooterMenuContainer .footer-menu li a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.FooterContainerWrapper .FooterContainer .FooterSearchContainer {
  float: left;
  padding-left: 40px;
}
.FooterContainerWrapper .FooterContainer .FooterSearchContainer input {
  background: white url('../images/search-icon.jpg') top left no-repeat;
  height: 26px;
  padding: 2px 5px 2px 29px;
  margin: 0;
  width: 145px;
  border: 0px;
}

.clear {
  clear: both;
  height: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.ui-mobile-viewport {
  margin-bottom: 0px !important;
}

.ui-loader {
  display: none !important;
}

.RegistrationWrapper {
  width: 1160px;
  margin: 0 auto;
  font-family: Arial;
  display: none;
}
.RegistrationWrapper .commands {
  clear: both;
}
.RegistrationWrapper .next, .RegistrationWrapper .prev {
  display: inline-block;
  height: 60px;
  width: 160px;
  font-size: 18px;
  background: #95d2ff;
  color: #1a598f;
  margin-right: 15px;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}
.RegistrationWrapper .mobile-step {
  display: none;
}
.RegistrationWrapper .registration-white {
  background: white;
  color: #00a3f5;
}
.RegistrationWrapper .registration-blue {
  background: #00a3f5;
  color: white;
}
.RegistrationWrapper .user-registration {
  border: 0;
  margin: 0;
  padding: 60px 2% 30px 2%;
}
.RegistrationWrapper .user-registration .user-registration-left {
  float: left;
  width: 39%;
  padding-right: 4%;
}
.RegistrationWrapper .user-registration .user-registration-left h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  padding: 0 0 30px;
  margin: 0;
}
.RegistrationWrapper .user-registration .user-registration-left h2 {
  font-size: 24px;
  font-style: italic;
  padding: 0 0 7px;
  margin: 0;
  font-weight: normal;
}
.RegistrationWrapper .user-registration .user-registration-left h3 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.RegistrationWrapper .user-registration .user-registration-left .answer-later {
  display: block;
  height: 60px;
  width: 160px;
  font-size: 18px;
  background: #95d2ff;
  color: #1a598f;
  margin: 15px 0;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}
.RegistrationWrapper .user-registration .user-registration-right {
  float: left;
  width: 57%;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social {
  margin-bottom: 20px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a {
  display: inline-block;
  width: 305px;
  height: 92px;
  background: #95d2ff;
  text-decoration: none;
  margin-right: 20px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a span {
  display: block;
  color: #4887b9;
  font-size: 16px;
  padding-left: 67px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  line-height: 50px;
  font-weight: bold;
  margin: 20px 0 0 20px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.facebook-user span {
  background-image: url('../images/f-icon.jpg');
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.google-user {
  margin-right: 0;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.google-user span {
  background-image: url('../images/g-icon.jpg');
}
.RegistrationWrapper .user-registration .user-registration-right .ui-input-text {
  position: relative;
}
.RegistrationWrapper .user-registration .user-registration-right p {
  font-size: 18px;
  color: #5383ab;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 18px;
}
.RegistrationWrapper .user-registration .user-registration-right label {
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
  line-height: 18px;
}
.RegistrationWrapper .user-registration .user-registration-right label.error {
  position: absolute;
  top: 47px;
  left: 0;
  margin: 0;
  color: #f50e2f;
  font-size: 16px;
}
.RegistrationWrapper .user-registration .user-registration-right input {
  width: 100%;
  padding: 0 5px;
  margin: 0 0 25px;
  height: 43px;
  background: url('../images/registration-input.jpg') top left repeat-x;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #00a3f5;
}
.RegistrationWrapper .user-registration .user-registration-right input.error {
  border: 2px solid #f50e2f;
}
.RegistrationWrapper .user-registration .user-registration-right input:focus {
  border: 2px solid #5383ab;
}
.RegistrationWrapper .user-registration .user-registration-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.RegistrationWrapper .user-registration .user-registration-right ul li {
  float: left;
  margin-left: 30px;
}
.RegistrationWrapper .user-registration .user-registration-right ul li:first-child {
  margin-left: 0;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first #state-button span {
  display: none;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first input.big {
  width: 245px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first input.small {
  width: 160px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first select {
  width: 168px;
  height: 43px;
  border: 2px solid #00a3f5;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second #state-button span {
  display: none;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second input {
  width: 360px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second input.big {
  width: 155px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second input.small {
  width: 59px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second select {
  width: 168px;
  height: 43px;
  border: 2px solid #00a3f5;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card p {
  padding: 0;
  margin: 0 0 10px 0;
  color: white;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date .ui-input-text {
  float: left;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date input {
  float: left;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date input.big {
  width: 80px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date input.small {
  width: 50px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date span {
  float: left;
  font-size: 18px;
  display: block;
  width: 34px;
  height: 43px;
  background: url('../images/white-dash.jpg') top left no-repeat;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li {
  float: none;
  margin: 0 0 5px;
  position: relative;
  min-height: 59px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li .edit-info {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 255px;
  height: 59px;
  text-align: center;
  text-decoration: none;
  background: #990000;
  color: white;
  line-height: 59px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li .user-summary-value {
  font-size: 24px;
  color: #1b598f;
  display: block;
  margin-top: 10px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-submit {
  text-align: center;
  margin-top: 45px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-submit button {
  background: #95d2ff;
  color: #1a598f;
  border: 0;
  text-align: center;
  padding: 25px 45px;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-pyment-method .paypal {
  width: 255px;
  height: 110px;
  background: url('../images/pay-pal.jpg') top left no-repeat;
  margin: 0 20px 40px 0px;
  display: inline-block;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-pyment-method .master-card {
  width: 350px;
  height: 110px;
  background: url('../images/master-card.jpg') top left no-repeat;
  display: inline-block;
  margin-bottom: 40px;
}
.RegistrationWrapper .user-registration.registration-blue input {
  background: url('../images/registration-input-blue.jpg') top left repeat-x;
}
.RegistrationWrapper .user-registration.registration-blue label.error {
  color: white;
}
.RegistrationWrapper .user-registration.registration-blue .mobile-step {
  color: white;
  clear: left;
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  .fancybox-inner {
    height: auto !important;
  }

  .RegistrationWrapper {
    width: 100%;
  }
  .RegistrationWrapper .user-registration-left {
    width: 30%;
  }
  .RegistrationWrapper .user-registration-right {
    width: 66%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first input {
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first input.big {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first input.small {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first select {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li {
    margin-left: 0 !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li.user-secondary-responsive-city {
    width: 48%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li.user-secondary-responsive-state {
    width: 23%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li.user-secondary-responsive-zip-code {
    width: 25%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second input {
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second input.big {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second input.small {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second select {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li {
    margin-left: 0 !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li.user-secondary-responsive-country {
    width: 12%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li.user-secondary-responsive-area-code {
    width: 34%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li.user-secondary-responsive-phone {
    width: 50%;
  }
  .RegistrationWrapper .user-registration-right .user-registration-social .facebook-user {
    margin-bottom: 20px;
  }
  .RegistrationWrapper .mobile-step {
    display: block;
  }
  .RegistrationWrapper .prev {
    display: none;
  }
  .RegistrationWrapper .next, .RegistrationWrapper .prev {
    display: none;
  }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 800px) {
  .RegistrationWrapper {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-left {
    width: 30%;
  }
  .RegistrationWrapper .user-registration .user-registration-right {
    width: 66%;
  }
  .RegistrationWrapper #step4 .user-registration .user-registration-left {
    display: none;
  }
  .RegistrationWrapper #step4 .user-registration .user-registration-right {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 766px) {
  .fancybox-inner {
    height: auto !important;
  }

  .RegistrationWrapper {
    width: 100%;
  }
  .RegistrationWrapper .user-registration {
    width: 96%;
    padding: 0 2%;
  }
  .RegistrationWrapper .user-registration.registration-blue {
    padding-top: 10px;
  }
  .RegistrationWrapper .user-registration .user-registration-left {
    display: none;
  }
  .RegistrationWrapper .user-registration .user-registration-right {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-registration-social a {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.facebook-user {
    margin-bottom: 10px;
  }
  .RegistrationWrapper .user-registration .user-registration-right ul li {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first input.big {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first input.small {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first select {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-bottom input {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-bottom input.big {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-bottom input.small {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li .edit-info {
    width: 131px;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li .user-summary-value {
    width: 52%;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-registration-pyment-method .master-card {
    background: url('../images/master-card-mobile.jpg') top left no-repeat;
    width: 300px;
    height: 95px;
    margin-bottom: 10px;
  }
  .RegistrationWrapper .user-registration .user-registration-right .user-registration-pyment-method .paypal {
    margin: 0px 0 10px 0px;
  }
  .RegistrationWrapper .user-registration .commands {
    display: none;
  }
  .RegistrationWrapper .mobile-step {
    display: block;
  }
}
