/* Visitor registration variables */
.clear {
  clear: both;
  height: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.ui-mobile-viewport {
  margin-bottom: 0px !important;
}

.ui-loader {
  display: none !important;
}

.RegistrationWrapper {
  width: 1160px;
  margin: 0 auto;
  font-family: Arial;
  display: none;
}
.RegistrationWrapper .commands {
  clear: both;
}
.RegistrationWrapper .next, .RegistrationWrapper .prev {
  display: inline-block;
  height: 60px;
  width: 160px;
  font-size: 18px;
  background: #95d2ff;
  color: #1a598f;
  margin-right: 15px;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}
.RegistrationWrapper .mobile-step {
  display: none;
}
.RegistrationWrapper .registration-white {
  background: white;
  color: #00a3f5;
}
.RegistrationWrapper .registration-blue {
  background: #00a3f5;
  color: white;
}
.RegistrationWrapper .user-registration {
  border: 0;
  margin: 0;
  padding: 60px 2% 30px 2%;
}
.RegistrationWrapper .user-registration .user-registration-left {
  float: left;
  width: 39%;
  padding-right: 4%;
}
.RegistrationWrapper .user-registration .user-registration-left h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  padding: 0 0 30px;
  margin: 0;
}
.RegistrationWrapper .user-registration .user-registration-left h2 {
  font-size: 24px;
  font-style: italic;
  padding: 0 0 7px;
  margin: 0;
  font-weight: normal;
}
.RegistrationWrapper .user-registration .user-registration-left h3 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.RegistrationWrapper .user-registration .user-registration-left .answer-later {
  display: block;
  height: 60px;
  width: 160px;
  font-size: 18px;
  background: #95d2ff;
  color: #1a598f;
  margin: 15px 0;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
}
.RegistrationWrapper .user-registration .user-registration-right {
  float: left;
  width: 57%;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social {
  margin-bottom: 20px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a {
  display: inline-block;
  width: 305px;
  height: 92px;
  background: #95d2ff;
  text-decoration: none;
  margin-right: 20px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a span {
  display: block;
  color: #4887b9;
  font-size: 16px;
  padding-left: 67px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  line-height: 50px;
  font-weight: bold;
  margin: 20px 0 0 20px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.facebook-user span {
  background-image: url('../images/f-icon.jpg');
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.google-user {
  margin-right: 0;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-social a.google-user span {
  background-image: url('../images/g-icon.jpg');
}
.RegistrationWrapper .user-registration .user-registration-right .ui-input-text {
  position: relative;
}
.RegistrationWrapper .user-registration .user-registration-right p {
  font-size: 18px;
  color: #5383ab;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 18px;
}
.RegistrationWrapper .user-registration .user-registration-right label {
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
  line-height: 18px;
}
.RegistrationWrapper .user-registration .user-registration-right label.error {
  position: absolute;
  top: 47px;
  left: 0;
  margin: 0;
  color: #f50e2f;
  font-size: 16px;
}
.RegistrationWrapper .user-registration .user-registration-right input {
  width: 100%;
  padding: 0 5px;
  margin: 0 0 25px;
  height: 43px;
  background: url('../images/registration-input.jpg') top left repeat-x;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #00a3f5;
}
.RegistrationWrapper .user-registration .user-registration-right input.error {
  border: 2px solid #f50e2f;
}
.RegistrationWrapper .user-registration .user-registration-right input:focus {
  border: 2px solid #5383ab;
}
.RegistrationWrapper .user-registration .user-registration-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.RegistrationWrapper .user-registration .user-registration-right ul li {
  float: left;
  margin-left: 30px;
}
.RegistrationWrapper .user-registration .user-registration-right ul li:first-child {
  margin-left: 0;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first #state-button span {
  display: none;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first input.big {
  width: 245px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first input.small {
  width: 160px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-first select {
  width: 168px;
  height: 43px;
  border: 2px solid #00a3f5;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second #state-button span {
  display: none;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second input {
  width: 360px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second input.big {
  width: 155px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second input.small {
  width: 59px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-second select {
  width: 168px;
  height: 43px;
  border: 2px solid #00a3f5;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card p {
  padding: 0;
  margin: 0 0 10px 0;
  color: white;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date .ui-input-text {
  float: left;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date input {
  float: left;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date input.big {
  width: 80px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date input.small {
  width: 50px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-secondary-info-card .expiration-date span {
  float: left;
  font-size: 18px;
  display: block;
  width: 34px;
  height: 43px;
  background: url('../images/white-dash.jpg') top left no-repeat;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li {
  float: none;
  margin: 0 0 5px;
  position: relative;
  min-height: 59px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li .edit-info {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 255px;
  height: 59px;
  text-align: center;
  text-decoration: none;
  background: #990000;
  color: white;
  line-height: 59px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-summary li .user-summary-value {
  font-size: 24px;
  color: #1b598f;
  display: block;
  margin-top: 10px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-submit {
  text-align: center;
  margin-top: 45px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-submit button {
  background: #95d2ff;
  color: #1a598f;
  border: 0;
  text-align: center;
  padding: 25px 45px;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-pyment-method .paypal {
  width: 255px;
  height: 110px;
  background: url('../images/pay-pal.jpg') top left no-repeat;
  margin: 0 20px 40px 0px;
  display: inline-block;
}
.RegistrationWrapper .user-registration .user-registration-right .user-registration-pyment-method .master-card {
  width: 350px;
  height: 110px;
  background: url('../images/master-card.jpg') top left no-repeat;
  display: inline-block;
  margin-bottom: 40px;
}
.RegistrationWrapper .user-registration.registration-blue input {
  background: url('../images/registration-input-blue.jpg') top left repeat-x;
}
.RegistrationWrapper .user-registration.registration-blue label.error {
  color: white;
}
.RegistrationWrapper .user-registration.registration-blue .mobile-step {
  color: white;
  clear: left;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .fancybox-inner {
    height: auto !important;
  }

  .RegistrationWrapper {
    width: 100%;
  }
  .RegistrationWrapper .user-registration-left {
    width: 30%;
  }
  .RegistrationWrapper .user-registration-right {
    width: 66%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first input {
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first input.big {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first input.small {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first select {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li {
    margin-left: 0 !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li.user-secondary-responsive-city {
    width: 48%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li.user-secondary-responsive-state {
    width: 23%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-first ul li.user-secondary-responsive-zip-code {
    width: 25%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second input {
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second input.big {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second input.small {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second select {
    width: 100% !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li {
    margin-left: 0 !important;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li.user-secondary-responsive-country {
    width: 12%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li.user-secondary-responsive-area-code {
    width: 34%;
    margin-right: 2%;
  }
  .RegistrationWrapper .user-registration-right .user-secondary-info-second ul li.user-secondary-responsive-phone {
    width: 50%;
  }
  .RegistrationWrapper .user-registration-right .user-registration-social .facebook-user {
    margin-bottom: 20px;
  }
  .RegistrationWrapper .mobile-step {
    display: block;
  }
  .RegistrationWrapper .prev {
    display: none;
  }
  .RegistrationWrapper .next, .RegistrationWrapper .prev {
    display: none;
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 800px) {
  .RegistrationWrapper {
    width: 100%;
  }
  .RegistrationWrapper .user-registration .user-registration-left {
    width: 30%;
  }
  .RegistrationWrapper .user-registration .user-registration-right {
    width: 66%;
  }
  .RegistrationWrapper #step4 .user-registration .user-registration-left {
    display: none;
  }
  .RegistrationWrapper #step4 .user-registration .user-registration-right {
    width: 100%;
  }
}
