/* Visitor registration variables */
$RegistrationWhiteBack:                   #ffffff;
$RegistrationWhiteFontColor:              #00a3f5;
$UserRegistrationRightPColor:             #5383ab;
$UserRregistrationRightInputBorder:       #00a3f5;
$UserRregistrationRightInputBorderError:  #f50e2f;
$RegistrationBlueBack:                    #00a3f5;
$RegistrationBlueFontColor:               #ffffff;
$UserRregistrationRightBlueError:         #ffffff;
$UserSummaryEditLinkBack:                 #990000;
$UserSummaryValueFontColor:               #1b598f;
$AnswerLaterLinkBack:                     #95d2ff;
$AnswerLaterLinkColor:                    #1a598f;
$UserRegistrationBack:                    #95d2ff;
$UserRegistrationFontColor:               #4887b9;